body {
  color: white;
  background-color: #123954;
}

.news {
  background-color: #212529;
  border-radius: 3%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
}

img {
  border: 2px solid #0d6efd;
  border-radius: 15%;
}